/*подключение шрифтов*/
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Round');

body {
  color: rgba(31, 32, 65, 0.75);
  margin: 140px;
}

.hidden {
  display: none !important;
}

/*панелька со страничками*/
.control_pad {
  position: fixed;
  display: flex;
  left: 3px;
  top: 3px;
}

.control_pad a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 2px;
}

.control_pad a:hover {
  opacity: 50%;
}

.pad_home {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  color: white;
  text-decoration: none;
}

.pad_back {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.pad_back img {
  transform: rotate(180deg);
}

.pad_next {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.pad_disable {
  background: none;
  background-color: gray;
  opacity: 30%;
}

.pad_disable:hover {
  opacity: 30% !important;
  cursor: default;
}

/*оформление ui-kit1*/
.container1 {
  position: absolute;
  left: 150px;
  top: 145px;
  display: flex;
  flex-direction: column;
}

.color-n-text {
  display: flex;
  align-items: center;
}

.rectangle {
  width: 70px;
  height: 70px;
  /* Dark 100% */
  border-radius: 6px;
}

.DarkShade-dsc {
  margin-left: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-size: 19px;
  line-height: 29px;
  /* Dark 100% */
  color: #1F2041;
}

.container2 {
  position: absolute;
  left: 854px;
  display: flex;
  flex-direction: column;
  width: 370px;
}

.fonts-prw-cont {
  display: flex;
  align-items: flex-start;
  width: 400px;
  margin-top: 50px;
}

.fonts-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  text-align: right;
  padding-right: 30px;
  vertical-align: top;

  /* identical to box height */
  text-align: right;
  /* Dark 25% */
  color: rgba(31, 32, 65, 0.25);
}

.fonts-prw {
  margin: 0px;
  vertical-align: top;
    padding-bottom: 50px;
}

/*оформление ui-kit2*/
.container-ui-kit2 {
  display: flex;
  margin-bottom: 100px;
  /*justify-content: space-between;*/
}

.ui-kit2 {
  margin-right: 160px;
  display: flex;
  flex-direction: column;
}

/*ОФОРМЛЕНИЕ ЭЛЕМЕНТОВ*/
/*цвета*/
.DarkShade100 {
  background: #1F2041;
}
.DarkShade75 {
  background: rgba(31, 32, 65, 0.75);
}
.DarkShade50 {
  background: rgba(31, 32, 65, 0.5);
}
.DarkShade25 {
  background: rgba(31, 32, 65, 0.25);
}
.DarkShade05 {
  background: rgba(31, 32, 65, 0.05);
}
.ColorGreen {
  background: #BC9CFF;
}
.ColorPurple {
  background: #6FCF97;
}

/*стили текста*/
h1 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  color: #1F2041;
}

h2 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 19px;
  color: #1F2041;
}

h3 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  color: #1F2041;
  text-transform: uppercase;
}

p {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.75);
}

/*формы*/
label {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  color: #1F2041;
  text-transform: uppercase;
}

*:focus {outline: none;}

form {
}

form input[type="text"] {
  color: rgba(31, 32, 65, 0.75);
  font-size: 14px;
  height:44px;
  width:320px;
  padding:13px 15px;
  background: #fff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  font-family: Montserrat;
}

::placeholder {
  color: rgba(31, 32, 65, 0.25);
}

form input:focus, form input:hover, form textarea:focus, .dropbtn:hover, .dropbtn:focus {
    background: #fff;
    border: 1px solid rgba(31, 32, 65, 0.5);
    box-shadow: 0 0 3px #aaa;
}

/* Кнопка выпадающего списка */
.dropbtn {
  font-family: Montserrat;
  color: rgba(31, 32, 65, 0.75);
  font-size: 14px;
  height:44px;
  width:320px;
  padding:13px 15px;
  background: #fff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  font-family: Montserrat;
  color: rgba(31, 32, 65, 0.75);
  font-size: 14px;
  width:320px;
  background: #fff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;

  display: none;
  position: absolute;

  z-index: 1; /*нужно, но для чего не знаю*/
}

.dropdown-itter {
  position: relative;
  margin-left: 15px;
  margin-bottom: 22px;
}

.lastrow {
  display: flex;
  justify-content: space-between;
  margin-left: 13px;
  margin-right: 7px;
  margin-bottom: 13px;
}

.clear {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
  font-weight: bold;
  text-decoration: none;
}

.agree {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #BC9CFF;
  font-weight: bold;
  text-decoration: none;
}

/* Показать выпадающее меню (используйте JS, чтобы добавить этот класс .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */
.show {display:block !important;}
/*окончание плясок с дропбоксом*/

form input[type="text"].small-date {
  width: 150px;
}

form input[type="text"].filterdatepicker {
  width: 266px;
}

form input[type="text"].email-sub {
  width: 266px;
}

.email-sub-btn {
  position: relative;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  left: -40px;
  top: 10px;
}

/*_____________ПЛЮС МИНУС В ДРОПБОКСЕ_________________*/
/*Блок переключателей*/
.pmtoggle {
  position: absolute;
  right: 7px;
  top: -7px;
  display: flex;
  align-items: center;
}

/*Минус*/
.material-icons-round.minus {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 30px;
  color: rgba(31, 32, 65, 0.5);
  visibility: hidden;
  user-select: none;
  cursor: pointer;
}

/*Плюс*/
.material-icons-round.plus {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 30px;
  color: rgba(31, 32, 65, 0.5);
  user-select: none;
  cursor: pointer;
}


/*_____________ВТОРОЙ СТОЛБЕЦ_________________*/

/*ЧЕКБОКСЫ*/
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox-lb {
  color: rgba(31, 32, 65, 0.5);
  font-weight: normal;
  font-size: 14px;
  text-transform: none;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: flex-start;
  user-select: none;
  cursor: pointer;
}

.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60% 60%;
}

.custom-checkbox:checked+label::before {
  border-color: #BC9CFF;
  background-image: url("../res/vectors/check.svg");
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #BC9CFF;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active+label::before {
  background-color: #b3d7ff;
  border: 1px solid #BC9CFF;
}
/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus+label::before {
  box-shadow: 0 0 3px #aaa;
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked)+label::before {
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-shadow: 0 0 3px #aaa;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled+label::before {
  background-color: #e9ecef;
}

/*РАДИОКНОПОЧКИ*/
.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radio-lb {
  color: rgba(31, 32, 65, 0.5);
  font-weight: normal;
  font-size: 14px;
  text-transform: none;
  margin-right: 20px;
}

.custom-radio+label {
  display: inline-flex;
  align-items: flex-start;
  user-select: none;
  cursor: pointer;
}

.custom-radio+label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60% 60%;
}

.custom-radio:checked+label::before {
  border-color: #BC9CFF;
  background-image: url("../res/vectors/radio.svg");
}

/* стили при наведении курсора на radio */
.custom-radio:not(:disabled):not(:checked)+label:hover::before {
  border-color: #BC9CFF;
}
/* стили для активного состояния радиобаттона (при нажатии на него) */
.custom-radio:not(:disabled):active+label::before {
  background-color: #b3d7ff;
  border: 1px solid #BC9CFF;
}
/* стили для радиобатонна, находящегося в фокусе */
.custom-radio:focus+label::before {
  box-shadow: 0 0 3px #aaa;
}
/* стили для радио, находящегося в фокусе и не находящегося в состоянии checked */
.custom-radio:focus:not(:checked)+label::before {
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-shadow: 0 0 3px #aaa;
}
/* стили для радио, находящегося в состоянии disabled */
.custom-radio:disabled+label::before {
  background-color: #e9ecef;
}


/*ТОГГЛЫ*/
.switch-lb {
  color: rgba(31, 32, 65, 0.5);
  font-weight: normal;
  font-size: 14px;
  text-transform: none;
  user-select: none;
  margin-left: 10px;
}
/* Бокс в котором переключатель */
.switch {
  position: relative;
  top: -10px;
  display: inline-block;
  width: 40px;
  height: 20px;
  cursor: pointer;
  user-select: none;
}

/* Прячем обычный чекбокс */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Слайдер */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  background-color: #FFF;
  -webkit-transition: .4s;
  transition: .4s;
}

/*размер и цвет слайдера*/
.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  top: 3px;
  background-color: rgba(31, 32, 65, 0.25);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  border: 1px solid #BC9CFF;
  box-sizing: border-box;
}

input:focus + .slider {
  /*box-shadow: 0 0 1px #2196F3;*/
}

/*тут мы сдвигаем сам слайдер и меняем его*/
input:checked + .slider:before {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 50%;
}

/* КНОПКА ЛАЙКА */
.like-button {
  user-select: none;
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 20px;
  background-image: url("../res/vectors/favorite_border.svg");
  background-repeat: no-repeat;
  background-position: 15% 50%;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.like-counter {
  position: absolute;
  right: 10px;
  top: 3px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  text-align: center;
  color: rgba(31, 32, 65, 0.25);
}

.liked-like-button {
  background-image: url("../res/vectors/favorite.svg");
  border: 1px solid #BC9CFF;
}


/*ЗВЁЗДОЧКИ РЕЙТИНГА*/
/*спрайты звёзд*/
.reviewStars-input input:checked ~ label, .reviewStars-input label, .reviewStars-input label:hover, .reviewStars-input label:hover ~ label {
  background: url("../res/vectors/star_border.svg") no-repeat;
}

.reviewStars-input {
  position: relative;
  float: left;
}

/*прячем радиобаттоны*/
.reviewStars-input input {
  /*filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); не знаю что это, но пусть будет*/
  opacity: 0;

  width: 0px;
  height: 0px;

  position: absolute;
  top: 0;
  z-index: 0;
}

/*если выделено*/
.reviewStars-input input:checked ~ label {
  background: url("../res/vectors/star.svg") no-repeat;
  height: 24px;
  width: 24px;
}

/*обычный вид*/
.reviewStars-input label {
  background: url("../res/vectors/star_border.svg") no-repeat;
  height: 24px;
  width: 24px;
  float: right;
  cursor: pointer;
  margin-right: 0px;

  position: relative;
  z-index: 1;
}

/*при наведении мышкой*/
.reviewStars-input label:hover, .reviewStars-input label:hover ~ label {
  background: url("../res/vectors/star.svg") no-repeat;
  height: 24px;
  width: 24px;
}


/*СЛАЙДЕРЫ*/
.slider1 {
  width: 266px;
}

/*КНОПКИ*/
.gradient_button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0px 21px;
  height: 44px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;

  color: #FFFFFF;
}

.gradient_button:active {
  opacity: 0.5;
}

.gradient_a {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  text-decoration: none;
  font-family: Montserrat;
  font-weight: 900;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #BC9CFF;
}

.gradient_a:active {
  background: rgba(31, 32, 65, 0.5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgba(31, 32, 65, 0.5);
}

.pay_button {
  position: relative;
  height: 44px;
  width: 320px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border: 0px;
  border-radius: 22px;
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 30px;
  cursor: pointer;

  color: #FFFFFF;
}

.pay_button img {
  position: absolute;
  top: 13px;
  right: 10px;
}

.pay_button:active {
  opacity: 0.5;
}

/*СТРАНИЧКИ ПЕРЕКЛЮЧАТЕЛЬ*/
.pagination_container {
  display: flex;

}

.pagination_container a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.page_backward {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.page_forward {
  border-radius: 50%;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.page_backward img {
  transform: rotate(180deg);
}

.page_number {
  font-family: Montserrat;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  color: rgba(31, 32, 65, 0.5);
}

.page_number:hover {
  background-color: rgba(31, 32, 65, 0.2);
}

.page_active {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  font-family: Montserrat;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  color: white;
}

/*Чекбокс лист*/
.exp-checkboxlist {
  display: none;
}

.checkboxlist-title {
  display: inline-block;
  user-select: none;
  cursor: pointer;
}

.checkboxlist-title img {
  margin-left: 30px;
  transition: all 0.2s linear 0s;
}

.rotate {
  transform: rotate(-180deg);
}

/*Расширенный чекбоксы*/
.rich_title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.75);
  margin-bottom: 10px;
}

.rich_lable {
  display: inline-flex;
  flex-direction: column;
  font-size: 12px;
}

.rich_checkboxlist {
  display: flex;
  flex-direction: column;
}


/*Список*/
.bulletlist {
  list-style-image: url("../res/vectors/bullet.svg");
  margin: 16px 0px 16px 20px;
  padding: 0px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.75);
}

.bulletlist li {
  margin-bottom: 10px;
}

/*features*/
.features {
  display: flex;
  margin-bottom: 41px;
}

.features p {
  margin: 0 0 0 10px;
  line-height: 24px;
  font-family: Montserrat;
  font-style: normal;
  font-size: 14px;
}

/*ОТЗЫВ*/
.comment {
  display: flex;
  flex-direction: row;
}

.c_column {
  display: flex;
  flex-direction: column;
  margin: 0 10px 0 0;
}

.comment img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.like-comment {
  margin: 12px 0 0 4px;
}

.comment_text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  width: 655px;
  margin: 15px 0 0 0;
}

.comment_name {
  margin: 0px;
  font-family: Montserrat;
  font-style: normal;
  font-size: 14px;
  font-weight: bold;
}

.comment_date {
  margin: 8px 0 0 0;
  font-family: Montserrat;
  font-style: normal;
  font-size: 14px;
}
