/*подключение шрифтов*/
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  color: rgba(31, 32, 65, 0.75);
  margin: 140px;
}

/*оформление ui-kit1*/
.container1 {
  position: absolute;
  left: 150px;
  top: 145px;
  display: flex;
  flex-direction: column;
}

.color-n-text {
  display: flex;
  align-items: center;
}

.rectangle {
  width: 70px;
  height: 70px;
  /* Dark 100% */
  border-radius: 6px;
}

.DarkShade-dsc {
  margin-left: 40px;
  font-family: Quicksand;
  font-style: normal;
  font-size: 19px;
  line-height: 29px;
  /* Dark 100% */
  color: #1F2041;
}

.container2 {
  position: absolute;
  left: 854px;
  display: flex;
  flex-direction: column;
  width: 370px;
}

.fonts-prw-cont {
  display: flex;
  align-items: flex-start;
  width: 400px;
  margin-top: 50px;
}

.fonts-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  text-align: right;
  padding-right: 30px;
  vertical-align: top;

  /* identical to box height */
  text-align: right;
  /* Dark 25% */
  color: rgba(31, 32, 65, 0.25);
}

.fonts-prw {
  margin: 0px;
  vertical-align: top;
    padding-bottom: 50px;
}

/*оформление ui-kit2*/
.container2-1 {

}

/*ОФОРМЛЕНИЕ ЭЛЕМЕНТОВ*/
/*цвета*/
.DarkShade100 {
  background: #1F2041;
}
.DarkShade75 {
  background: rgba(31, 32, 65, 0.75);
}
.DarkShade50 {
  background: rgba(31, 32, 65, 0.5);
}
.DarkShade25 {
  background: rgba(31, 32, 65, 0.25);
}
.DarkShade05 {
  background: rgba(31, 32, 65, 0.05);
}
.ColorGreen {
  background: #BC9CFF;
}
.ColorPurple {
  background: #6FCF97;
}

/*стили текста*/
h1 {
  font-family: Quicksand;
  font-weight: bold;
  font-size: 24px;
  color: #1F2041;
}

h2 {
  font-family: Quicksand;
  font-weight: bold;
  font-size: 19px;
  color: #1F2041;
}

h3 {
  font-family: Quicksand;
  font-weight: bold;
  font-size: 12px;
  color: #1F2041;
  text-transform: uppercase;
}

p {
  font-family: Quicksand;
  font-weight: normal;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.75);
}

/*формы*/
label {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  color: #1F2041;
  text-transform: uppercase;
}

*:focus {outline: none;}

form {
}

form input {
  color: rgba(31, 32, 65, 0.75);
  font-size: 14px;
  height:44px;
  width:320px;
  padding:13px 15px;
  background: #fff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}

::placeholder {
  color: rgba(31, 32, 65, 0.25);
}

form input:focus, form input:hover, form textarea:focus, .dropdown:focus, .dropdown:hover {
    background: #fff;
    border: 1px solid rgba(31, 32, 65, 0.5);
    box-shadow: 0 0 3px #aaa;
}

/* Кнопка выпадающего списка */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Кнопка выпадающего меню при наведении и фокусировке */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {background-color: #ddd}

/* Показать выпадающее меню (используйте JS, чтобы добавить этот класс .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */
.show {display:block;}
