/*подключение шрифтов*/
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  color: rgba(31, 32, 65, 0.75);
  margin: 140px;
}

/*оформление ui-kit1*/
.container1 {
  position: absolute;
  left: 150px;
  top: 145px;
  display: flex;
  flex-direction: column;
}

.color-n-text {
  display: flex;
  align-items: center;
}

.rectangle {
  width: 70px;
  height: 70px;
  /* Dark 100% */
  border-radius: 6px;
}

.DarkShade-dsc {
  margin-left: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-size: 19px;
  line-height: 29px;
  /* Dark 100% */
  color: #1F2041;
}

.container2 {
  position: absolute;
  left: 854px;
  display: flex;
  flex-direction: column;
  width: 370px;
}

.fonts-prw-cont {
  display: flex;
  align-items: flex-start;
  width: 400px;
  margin-top: 50px;
}

.fonts-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  text-align: right;
  padding-right: 30px;
  vertical-align: top;

  /* identical to box height */
  text-align: right;
  /* Dark 25% */
  color: rgba(31, 32, 65, 0.25);
}

.fonts-prw {
  margin: 0px;
  vertical-align: top;
    padding-bottom: 50px;
}

/*оформление ui-kit2*/
.container2-1 {

}

/*ОФОРМЛЕНИЕ ЭЛЕМЕНТОВ*/
/*цвета*/
.DarkShade100 {
  background: #1F2041;
}
.DarkShade75 {
  background: rgba(31, 32, 65, 0.75);
}
.DarkShade50 {
  background: rgba(31, 32, 65, 0.5);
}
.DarkShade25 {
  background: rgba(31, 32, 65, 0.25);
}
.DarkShade05 {
  background: rgba(31, 32, 65, 0.05);
}
.ColorGreen {
  background: #BC9CFF;
}
.ColorPurple {
  background: #6FCF97;
}

/*стили текста*/
h1 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  color: #1F2041;
}

h2 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 19px;
  color: #1F2041;
}

h3 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  color: #1F2041;
  text-transform: uppercase;
}

p {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.75);
}

/*формы*/
label {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  color: #1F2041;
  text-transform: uppercase;
}

*:focus {outline: none;}

form {
}

form input {
  color: rgba(31, 32, 65, 0.75);
  font-size: 14px;
  height:44px;
  width:320px;
  padding:13px 15px;
  background: #fff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}

::placeholder {
  color: rgba(31, 32, 65, 0.25);
}

form input:focus, form input:hover, form textarea:focus, .dropbtn:hover, .dropbtn:focus {
    background: #fff;
    border: 1px solid rgba(31, 32, 65, 0.5);
    box-shadow: 0 0 3px #aaa;
}

/* Кнопка выпадающего списка */
.dropbtn {
  font-family: Montserrat;
  color: rgba(31, 32, 65, 0.75);
  font-size: 14px;
  height:44px;
  width:320px;
  padding:13px 15px;
  background: #fff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  font-family: Montserrat;
  color: rgba(31, 32, 65, 0.75);
  font-size: 14px;
  width:320px;
  background: #fff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;

  display: none;
  position: absolute;

  z-index: 1; /*нужно, но для чего не знаю*/
}

.dropdown-itter {
  position: relative;
  margin-left: 15px;
  margin-bottom: 22px;
}

.lastrow {
  display: flex;
  justify-content: space-between;
  margin-left: 13px;
  margin-right: 7px;
  margin-bottom: 13px;
}

.clear {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
  font-weight: bold;
  text-decoration: none;
}

.agree {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #BC9CFF;
  font-weight: bold;
  text-decoration: none;
}

/* Показать выпадающее меню (используйте JS, чтобы добавить этот класс .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */
.show {display:block;}





/*_____________ПЛЮС МИНУС В ДРОПБОКСЕ_________________*/
/*Блок переключателей*/
.pmtoggle {
  position: absolute;
  right: 7px;
  top: -7px;
  display: flex;
  align-items: center;
}

/*Минус*/
.material-icons.minus {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 30px;
  color: rgba(31, 32, 65, 0.5);
  visibility: hidden;
}

/*Плюс*/
.material-icons.plus {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 30px;
  color: rgba(31, 32, 65, 0.5);
}
